<!-- views/admin/verify-agent.hbs -->
<div class="container mt-5">
  <div class="py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h4 class="mb-4">Verify Agents</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Profile Image</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Company Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">State</th>
                  <th scope="col">District</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {{#each agents}}
                <tr>
                  <td><img src="/verification-files/{{this._id}}.jpg" alt="Profile Image" style="width: 100px; height: 100px;"></td>
                  <td>{{this.fullname}}</td>
                  <td>{{email}}</td>
                  <td>{{phone}}</td>
                  <td>{{companyName}}</td>
                  <td>{{address}}</td>
                  <td>{{state}}</td>
                  <td>{{district}}</td>
                  <td><a href="/verification-files/{{this._id}}.jpg" download class="btn btn-primary">Download Image</a></td>
                  <td><span style="font-family: wingdings; font-size: 200%;">&#252;</span></td>
                  <td><span style="font-family: wingdings; font-size: 200%;">&#x1F5F6;</span></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
