<section class="container mt-after-header">
    <div class="row mt-5">
        <div class="col-4 mb-4 mb-md-0 d-flex justify-content-center">
            <div class="card h-100 custom-card">
                <img src="/images/brick.jpeg" class="card-img-top" alt="Resources Image">
                <div class="card-body">
                    Resources
                </div>
            </div>
        </div>
        <div class="col-4 mb-4 mb-md-0 d-flex justify-content-center">
            <div class="card h-100 custom-card">
                <img src="/images/jcb1.jpeg" class="card-img-top" alt="Machinery Image">
                <div class="card-body">
                    Machinery
                </div>
            </div>
        </div>
        <div class="col-4 mb-4 mb-md-0 d-flex justify-content-center">
            <div class="card h-100 custom-card">
                <img src="/images/labourers.jpeg" class="card-img-top" alt="Labourers Image">
                <div class="card-body">
                    Labourers
                </div>
            </div>
        </div>
    </div>

    {{#if services}}
        {{#if (hasServices "RAW MATERIAL")}}
            <h2 class="hai mt-5">RAW MATERIALS</h2>
            <div class="row mt-4">
                {{#each services}}
                    {{#isEqual service_type 'RAW MATERIAL'}}
                        {{#each services}}
                            <div class="col-4 col-md-3 col-lg-2">
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{service_name}}</h5>
                                        <p class="card-text">Agents: {{agents.length}}</p>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/isEqual}}
                {{/each}}
            </div>
        {{/if}}

        {{#if (hasServices "MACHINERY")}}
            <h2 class="mt-5">Machinery</h2>
            <div class="row mt-4">
                {{#each services}}
                    {{#isEqual service_type "MACHINERY"}}
                        {{#each services}}
                            <div class="col-4 col-md-3 col-lg-2">
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{service_name}}</h5>
                                        <p class="card-text">Agents: {{agents.length}}</p>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/isEqual}}
                {{/each}}
            </div>
        {{/if}}

        {{#if (hasServices "LABOURS")}}
            <h2 class="mt-5">Labourers</h2>
            <div class="row mt-4">
                {{#each services}}
                    {{#isEqual service_type "LABOURS"}}
                        {{#each services}}
                            <div class="col-4 col-md-3 col-lg-2">
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{service_name}}</h5>
                                        <p class="card-text">Agents: {{agents.length}}</p>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/isEqual}}
                {{/each}}
            </div>
        {{/if}}
    {{else}}
        <div class="container mt-after-header">
            <div class="row">
                <div class="col">
                    <p>No services available</p>
                </div>
            </div>
        </div>
    {{/if}}
</section>

<style>
    .mt-after-header {
        margin-top: 100px; /* Adjust this value according to your header height */
    }
    
    .custom-card {
        height: 150px; /* Default height */
        width: 90%; /* Adjust the width as desired */
        max-width: 250px; /* Limit the maximum width if needed */
        margin-bottom: 15px; /* Add space between cards */
    }

    .custom-card .card-body {
        font-size: 16px; /* Default font size */
    }
    
    @media (max-width: 991.98px) {
        .custom-card {
            height: 120px; /* Adjusted height for small devices */
            margin-bottom: 15px; /* Add space between cards */
        }

        .custom-card .card-body {
            font-size: 12px; /* Decrease font size for small devices */
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .custom-card {
            height: 130px; /* Adjusted height for medium devices */
            width: 85%; /* Make the card smaller */
        }

        .custom-card .card-body {
            font-size: 14px; /* Decrease font size for medium devices */
        }
    }
</style>
