<!-- views/agent/my-profile.hbs -->
<div class="container mt-5">
    <div class="py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="row g-0">
                        <div class="col-lg-4 bg-grey text-center mt-5 p-5">
                            <img src="/images/profile.jpeg" alt="Profile image" class="rounded-circle mb-3" style="width: 200px; height: 200px;">
                            <h4 class="mt-2">{{fullname}}</h4>
                            <h6 class="mt-2">{{email}}</h6>
                        </div>
                        <div class="col-lg-8 p-5">
                            <form action="/agent/update-profile" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" id="phone" name="phone" value="{{phone}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="companyName" class="form-label">Company Name</label>
                                    <input type="text" class="form-control" id="companyName" name="companyName" value="{{companyName}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="address" name="address" value="{{address}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="state" class="form-label">State</label>
                                    <select class="form-control" id="state" name="state" required>
                                        <option value="Kerala">Kerala</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="district" class="form-label">District</label>
                                    <select class="form-control" id="district" name="district" required>
                                        <option value="Ernakulam">Ernakulam</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Verification Image (Adhar,Driving Liscence etc)</label>
                                    <input type="file" class="form-control" id="verificationImage" name="verificationImage" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Update Profile</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
